# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
file = pd.read_csv("weather_output.csv")
file.dropna()
file.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,tubuala,40,PA,1569373398,94,9.52,-79.03,81.00,2.24
1,nikolskoye,0,RU,1569373398,94,59.70,30.79,41.00,2.24
2,nacala,0,MZ,1569373398,96,-14.56,40.69,68.17,6.38
3,remanso,85,BR,1569373398,43,-9.62,-42.08,79.32,11.79
4,maceio,20,BR,1569373222,83,-9.67,-35.74,75.20,5.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:


# Configure gmaps with API key



locations = file[["Lat", "Lon"]]



humidity = file["Humidity"].astype(float)


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                  max_intensity=70)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
vac_file=file.loc[(file['Max Temp']>=70)&(file['Max Temp']<=85)]

wind_file=vac_file.loc[(vac_file['Wind Speed']<=10)]

cloud=wind_file.loc[(wind_file['Cloudiness']==0)]

cloud.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
53,touros,0,BR,1569373411,78,-5.20,-35.46,75.2,9.17
59,mahajanga,0,MG,1569373412,83,-15.72,46.32,73.4,4.70
137,humaita,0,AR,1569373424,35,-24.93,-65.37,75.2,4.70
145,fangshan,0,CN,1569373426,68,39.75,116.14,79.0,4.47
249,cayenne,0,GF,1569373441,94,4.94,-52.33,77.0,5.57

In [7]:
hotel_df = cloud.reset_index(drop=True)
hotel_df
hotel_df["Hotel Name"] = ""
hotel_df

params = {
   "radius": 5000,
   "types": "hotel",
   "keyword": "hotels",
   "key": g_key
}
for index, row in hotel_df.iterrows():
   
   lat = row["Lat"]
   lng = row["Lon"]
   
   params["location"] = f"{lat},{lng}"
   
   base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
   name_address = requests.get(base_url, params=params)
   
   name_address = name_address.json()
#    print(json.dumps(name_address, indent=4, sort_keys=True))
  
   try:
       hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
   except (KeyError, IndexError):
       print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [6]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed,Hotel Name
0,touros,0,BR,1569373411,78,-5.20,-35.46,75.20,9.17,Pousada Amigos do Vento
1,mahajanga,0,MG,1569373412,83,-15.72,46.32,73.40,4.70,SALAMA HOTEL
2,humaita,0,AR,1569373424,35,-24.93,-65.37,75.20,4.70,
3,fangshan,0,CN,1569373426,68,39.75,116.14,79.00,4.47,GreenTree Inn
4,cayenne,0,GF,1569373441,94,4.94,-52.33,77.00,5.57,Hotel Central
5,elko,0,US,1569373255,34,40.83,-115.76,75.00,5.99,Best Western Elko Inn
6,podor,0,MR,1569373448,79,16.65,-14.96,84.20,2.24,Gite d'Etape Keur Ninon
7,buraydah,0,SA,1569373353,29,26.33,43.97,78.80,4.70,Mövenpick Hotel Qassim
8,salta,0,AR,1569373178,35,-24.79,-65.41,75.20,4.70,KKala Hotel Boutique
9,doka,0,SD,1569373454,92,13.52,35.76,73.39,6.67,
10,mizdah,0,LY,1569373455,59,31.45,12.98,75.01,7.49,
11,nushki,0,PK,1569373459,25,29.55,66.02,73.02,4.81,Sada bahar Hotel
12,guspini,0,IT,1569373460,82,39.54,8.63,70.00,8.05,Hotel Sa Rocca
13,nagaur,0,IN,1569373461,63,27.20,73.74,80.41,7.90,Hotel Chandrika Palace
14,lagoa,0,PT,1569373463,78,37.14,-8.45,71.60,5.82,Colina Hotels & Resorts
15,ha noi,0,VN,1569373465,88,21.02,105.84,73.40,4.70,Hoan Kiem Lake Hotel
16,abu road,0,IN,1569373466,79,24.48,72.78,76.27,3.00,OYO 16076 Hotel Happy Day
17,tharad,0,IN,1569373474,71,24.39,71.63,82.57,7.92,HOTEL DESERT INN THARAD
18,kazerun,0,IR,1569373478,31,29.62,51.65,72.12,1.45,Bishapour 🏨 Hotel
19,riyadh,0,SA,1569373389,28,24.63,46.72,82.40,4.70,"Radisson Blu Hotel, Riyadh"
20,san quintin,0,PH,1569373481,74,17.54,120.52,78.07,4.12,
21,sabha,0,LY,1569373485,22,27.03,14.43,80.41,7.40,فندق البركولي
22,nisia floresta,0,BR,1569373486,78,-6.09,-35.21,78.80,9.17,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [9]:
markers = gmaps.marker_layer(locations, info_box_content=[f"Hotel loc: {rate}" for rate in hotel_info])
#markers = gmaps.marker_layer(coordinates)

# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Add marker layer ontop of heat map


# Display Map